#panel{
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
}

button{
    color:rgb(206, 200, 200);
    background-color: black;
    font-size: 10vh;
    height: 16vh;
    width: 25vw;
    margin: 0;
    padding: 0;
 }

.orange{
    color:rgb(237, 184, 71);
}

.orange button{
    color:rgb(237, 184, 71);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#lower button{
    width: 33.33vw;
}